<!-- templates/create_student_form.html-->
{% extends 'project/base.html' %}

{% block content %}
<h1 style="font-style: oblique; background-color: darkred; color:white">BU Tech Rental</h1>

<!-- used bootstrap for forms / installed crispy -->
<h2 style="font-style: oblique;"> Register your profile to Rent </h2>
{% load crispy_forms_tags %}

<form method = 'POST' nonvalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button style= "background-color: darkred" type = "submit" class="btn btn-success">Rent!</button>
</form>
{% endblock %}