<!-- templates/update_student_form.html-->
{% extends 'project/base.html' %}

{% block content %}
<h1 style="font-style: oblique; background-color: darkred; color:white">BU Tech Rental</h1>

<h2>Update a profile</h2>

{% load crispy_forms_tags %}

<!-- Use crispy form / got helped from online source & bootstrap-->
<!-- source : https://simpleisbetterthancomplex.com/tutorial/2018/08/13/how-to-use-bootstrap-4-forms-with-django.html-->
<form method = 'POST' nonvalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <!-- add styles to make red theme of BU tech site -->
    <button style= "background-color: darkred" type = "submit" class="btn btn-success">Update Student Profile!</button>
</form>
{% endblock %}