<!-- templates/show_all_profiles.html-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h2>Showing all Profiles</h2>

<!-- scriplet code to display the value of the variables 'all_mini_fb_list'
-->


  
<ul>
    <table>
            <colgroup>
                <col span = "1" style="width: 30%;">
                <col span = "1" style="width: 45%;">
                <col span = "1" style="width: 25%;">
            </colgroup>
            <tr>
                <th>Name</th>
                <th>Hometown</th>
                <th>Image</th>
            </tr>
            {% for mini_fb in all_mini_fb_list %} 

            <tr>
                <td><center> <a href = "{% url 'show_profile_page' mini_fb.pk %}">{{mini_fb.first_name}} {{mini_fb.last_name}}</a> </center></td>
                <td><center> {{mini_fb.home_town}} </center></td>
                <td><img src="{{mini_fb.prof_url}}" style="max-width: 200;">  </td>
            </tr>
            {% endfor %}
    </table>
</ul>

   
    

{% endblock %}
